body {
	font-family: Courier New;
	/background-image: url("https://st.depositphotos.com/3470617/4866/v/450/depositphotos_48664167-stock-illustration-internet-seamless-background.jpg");
	background: linear-gradient(90deg, rgba(230,167,156,1) 22%, rgba(167,183,255,1) 100%);
}

.welcome-message {
	width: 60%;
	padding: 20px;

	margin: auto;

	/background-color: #ffffef;

	/border: 2px solid #FF8A75;
}

.welcome-message > h1 {
	text-align: center;
	color: #fff;
	/color: #FF6447;
}

.welcome-message > img {
	/border-bottom: 4px solid white;
	border-radius: 8px;

	display: block;
	width: 80%;
	margin: auto;
}

.welcome-message > p {
	color: #fff;
	text-align: center;
}

.welcome-message > p > b {
	display: inline-block;
	padding: 0 0.3em;
	border-radius: 0.3em;
	background-color: tomato;
	color: #fff;
}