
body {
	/*background-image: url(https://wallpaper.campus-star.com/app/uploads/2018/02/feb-wall-05.jpg);*/
	font-family: Verdana, Geneva, sans-serif;

	margin: 0;
}


#main_container {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#left_container {
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 8px;	

	background-color: #063c62;
}



/* CREATE_CHAT_BUTTON */

#create-chat_button {

	display: block;

	width: 100%;
	border-radius: 6px;

	padding: 16px 0px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background-color: #37b76d;
}

#create-chat_button:hover {
	background-color: #73c085;
}

/* CHAT LIST */

#chat_list {
	margin: 8px 0px;

	height: 500px;

	overflow-y: scroll;

}

.сhat-preview {
	display: grid;
	grid-template-columns: 1fr 4fr;

	text-decoration: none;
	border-radius: 6px;

	background-color: #3878a3;

	margin: 8px 0;
	padding: 16px;

	text-align: center;
	color: #fff;	
}

.сhat-preview:hover {
	background-color: #668aa3;
}


/* RIGHT CONTAINER */

#right_container {
	display: grid;

	grid-template-rows: 64px 1fr 64px;
	background-color: #265c82;
}

/* DEFAULT LABEL; */

#default_label {
	display: block;
	color: #fff;
	text-align: center;
	margin: 100px 0px;
}

/* CHAT INFORMATION CONTAINER */

#chat_info_container {
	display: grid;
	grid-template-columns: 10% 1fr 10%;

	padding: 4px;
	background-color: #64a795;
}

.chat_icon {
	/*background-color: tomato;*/
	border-radius: 50%;
	
	width: 40px;
	height: 40px;
}

.user_icon {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

#chat_info_title {
	color: #fff;
	text-align: center;

	padding: 8px 0;
}

#options_button {
	display: block;

	border-radius: 6px;
	background-color: #32a787;

	color: #fff;
	text-decoration: none;
	text-align: center;

	padding: 8px;
}

/* MESSAGE LIST */

#message_list_container {
	/*display: grid;*/

	overflow-y: scroll;
	height: 450px;
	background-color: #ececec;

	
}

.message_list_line {
	padding: 4px;
	clear: both;
	
}

.message_box {
	float: left;

	background-color: #0c6aa6;
	color: #fff;

	border: 1px solid #3a70a6;
	border-radius: 8px;

	padding: 8px;

	max-width: 60%;
}

/* SEND FORM */

#send_form_container {
	background-color: #efefef;
}

/* POPUT MENU */

#cover {
	position: absolute;

	width: 100%;
	height: 100%;

	background: #44444450;
}

#poput {
	display: grid;
	grid-template-rows: auto auto;

	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 50%;
	height: 70%;

	background: #fff;

	border-radius: 4px;
	overflow: hidden;
}

#poput-menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	text-align: center;

	/*border: 1px solid #bcbcbc;*/
	/*border-radius: 2px;*/

	border-bottom: 2px solid tomato;

	/*background: linear-gradient(0deg, #efefef, #fefefe);*/

	overflow: hidden;
}

.poput-menu-element-radio {
	position: absolute;
	visibility: hidden;
	display: none;
}

.poput-menu-element-radio:checked + label{
	background: tomato;
}

#poput-menu label {
	cursor: pointer;

	/*font-size: 0.9em;*/

	padding: 4px;
}


#poput-body {
	/*padding: 5px;*/
	overflow-y: scroll;
}

/* POPUT SETTINGS */

.settings-line {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-column-gap: 5px;

	padding: 10px;
	border-bottom: 1px solid #adadad; 
}

#settings-chat-icon {
	width: 100%;
	height: 100%;

	border-radius: 50%;
}

.settings-line-container {
	/*padding-top: 20px;*/
}

.settings-input-text {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;

	padding: 5px;

	border: none;
	border-radius: 4px;
	background: #efefef;


}

/* RADIO GROUP */

.radio-group {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 90%;
	text-align: center;
	margin: auto;

	border: 1px solid #bcbcbc;
	border-radius: 2px;

	background: linear-gradient(0deg, #efefef, #fefefe);

	overflow: hidden;
}

.radio-button {
	position: absolute;
	visibility: hidden;
	display: none;
}

.radio-button:checked + label {
	background: #eee;
	/*padding: 8px 6px 4px 6px;*/
	/*color: #666666;*/
}

.radio-group label + .radio-button + label {
	border-left: 1px solid #bcbcbc;
}

.radio-group label {
	display: inline-block;
	cursor: pointer;

	font-size: 0.9em;

	padding: 4px;
	/*overflow: hidden;*/
}


