.registration{
	display: none;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
}
.auth{
	margin-top: 200px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
.auth-text{
	display: block;
	margin-bottom: 40px;
	width: 80px;
}
.auth-text-div{
	display: inline-block;
	width: 80px;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	vertical-align: top;	
}
.auth-form-div{
	display: inline-block;
	width: 200px;
	padding: 0;
	margin-left:auto;
	margin-right: auto;
}
.reg-input{
	display: inline-block;
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-bottom: 20px;
}
.auth-submit, .reg-display-button, .reg-submit{
	background: #fff;
	border-radius: 10px;
	width: 200px;
	height: 40px;
	margin-top: 20px;
	border: none;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 1.5;
	cursor: pointer;
}
.auth-button{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}
.reg-display{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}
.reg-pers{
	font-size: 16px;
}
.index{
	width: 49.6%;
	display: inline-block;
}
.welcome{
	background: linear-gradient(45deg, #C1D6EB,#E6ECF0 );
	width: 50%;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #ccc;
	vertical-align: top;
}
.welcome-text{
	margin-left: 20%;
	margin-top: 35%;
}
.welcome-text-1{
	font-size: 42px;
	margin-bottom: 20px;	
}
.welcome-text-2{
	font-size: 24px;
	margin-left: 10%;
}
.auth-footer{
	position: fixed;
	bottom: 0;
}
.welcome-hidden{
	visibility: hidden;
	margin-top: 43.3%;
}


/*-------------------------*/
body{
	padding: 0;
	margin: 0;
}
header{
	background-color: #fff;
	height: 60px;
}
