
.like, .dislike, .comment{
	display: inline-block;
	margin-left: 30px;
	border: none;
}
.like-icon{
	background-image: url(../images/like.png);
	height: 30px;
	width: 30px;
}
.dislike-icon{
	background-image: url(../images/dislike.png);
	height: 30px;
	width: 30px;
}
.like-div{
	display: inline-block;
}
.like-number{
	display: inline-block;
	margin-left: 200px;
	font-size: 24px;
	vertical-align: top;
	color: #000;
}
.true-like .like-icon{
	-webkit-box-shadow: 0px 0px 81px 37px rgba(17,255,0,1);
	-moz-box-shadow: 0px 0px 81px 37px rgba(17,255,0,1);
	box-shadow: 0px 0px 81px 37px rgba(17,255,0,1);
}
.false-like .dislike-icon{
	-webkit-box-shadow: 0px 0px 81px 37px rgba(252,5,5,1);
	-moz-box-shadow: 0px 0px 81px 37px rgba(252,5,5,1);
	box-shadow: 0px 0px 81px 37px rgba(252,5,5,1);
}