.unset-display-none {
	display: block;
}
.comment-pop-out {
	position: fixed;
	top: 50px;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}
.news-post-pop-out {
	top: 100px;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}