body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #E6ECF0;
	margin: 0;
	padding: 0;
	opacity: 1;
}
button{
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #000;
	cursor: pointer;
}
.bodydark{
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	min-height: 1453px;
	display: none;
}
.dialog-button, .friends-button{
	display: block;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.button-div{
	display: inline-block;
	padding-top: 10px;
}
.button-div:first-of-type{
	margin-right: 60px;
}
.header{
	width: 100%;
}
.header-top-div{
	width: 100%;
	background-color: #fff;
	height: 60px;
}
.header-logo{
	width: 58px;
	margin-left: auto;
	margin-right: auto;
}
.header-name{
	width: 50px;
	position: absolute;
	padding-top: 15px;
	padding-left: 30px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
.span-name{

}
.header-image{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 270px;
	left: 100px;
}
.profile-image{
	width: 100%;
	height: 300px;
	background-image: url(../images/header.jpg);
	background-size: cover;
}
.header-bottom-div{
	height: 60px;
	width: 100%;
	background-color: #fff;
	
}
.header-bottom-buttons{
	width: 480px;
	margin-right: auto;
	margin-left: auto;
}
.header-settings{
	background-image: url(../images/settings.png);
	height: 38px;
	width: 38px;
	display: inline-block;
	position: absolute;
	left: 1460px;
	top: 10px;
}
.header-settings-div{
	visibility: hidden;
	width: 120px;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	top: 65px;
	left: 1380px;
}
.settings-list{
	font-size: 16px;
	font-weight: 300;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 5px;
}
.settings-list-item{
	list-style: none;
	padding-left: 10px;
	padding-top: 10px;

}
.settings-list-item a{
	text-decoration: none;
	color: #000;
}
.settings-list-item a: visited{
	color: #000;
}
.settings-list-item:first-child{
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}
.settings-list-item:last-child{
	border-top: 1px solid #000;
	padding-top: 5px;
	margin-top: 10px;
}
/*-----------------------*/
.main{
	width: 100%;
	min-height: 560px;
}
.user{
	margin-left: 120px;
}
.user-name, .user-lastname{
	display: inline-block;
	font-size: 20px;
}
.new-post{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	display: block;
}
.new-post-header{
	width: 135px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	padding-top: 10px;

}
.new-post-text{
	width: 95%;
	min-height: 50px;
	border: 1px solid #E6ECF0;
	margin-right: auto;
	margin-left: auto;
}
.new-post-input{
	width: 100%;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	min-height: 50px;
}
.new-post-button{
	width: 32px;
	height: 30px;
	background-color: #fff;
	background-image: url(../images/send.png);
	background-size: cover;
	border: none;
}
.new-img-button{
	width: 35px;
	height: 30px;
	background-color: #fff;
	background-image: url(../images/image1.png);
	background-size: cover;
	border: none;
}
.new-post-img{
	display: inline-block;
	width: 35px;
	margin-left: 12px;
}
.new-post-publish{
	margin-top: 5px;
	margin-left: 513px;
	display: inline-block;
}
.new-post-input:focus{
	outline: none;
}
.news{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	display: block;
}
.news-post{
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}
.news-header{
	width: 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	margin-right: auto;
	margin-left: auto;
}
.news-post-img{
	width: 65%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.news-header-line{
	margin-top: 10px;
	border-bottom: 1px solid #000;
}
.news-post-text{
	padding-right: 10px;
	padding-left: 10px;
	text-align: justify;
	line-height: 1.5;
	margin-bottom: 10px;
}
.news-post-date{
	margin-left: 10px;
	margin-bottom: 10px;
}
.feedback{
	padding-bottom: 10px;
	border-bottom: 1px solid #B3B3B3;
}
.like,.comment{
	display: inline-block;
	margin-left: 30px;
}
.dislike{
	display: inline-block;
	margin-left: 15px;
}
.like-icon{
	background-image: url(../images/like.png);
	height: 30px;
	width: 30px;
	background-size: cover;
	display: block;
}
.like-true{
	background-image: url(../images/like-true.png);
	height: 30px;
	width: 30px;
	background-size: cover;
	display: none;
}
.dislike-true{
	background-image: url(../images/dislike-true.png);
	height: 30px;
	width: 30px;
	background-size: cover;
	display: none;

}
.dislike-icon{
	background-image: url(../images/dislike.png);
	height: 30px;
	width: 30px;
	background-size: cover;
	display: block;
}
.like-div{
	display: inline-block;
	margin-left: 394px;
}
.like-number{
	display: inline-block;
	font-size: 24px;
	vertical-align: top;
	color: #000;
}
.comment-icon{
	background-image: url(../images/comment.png);
	background-size: cover;
	width: 30px;
	height: 30px;
}
.comment-out{
	width: 90%;
	min-height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.comment-out:first-child{
	margin-top: 10px;
}
.comment-out-img{
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
}
.comment-out-inf{
	display: inline-block;
	margin-top: 10px;
}
.comment-out-name{
	display: inline-block;
}
.comment-out-date{
	display: inline-block;
}
.comment-out-text{
	width: 80%;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 1.5;
	border: 0.5px solid #000;
	border-radius: 10px;
	display: block;
	margin-left: 45px;
	margin-bottom: 10px;
}
.comment-like{
	margin-left: 454px;
}
.comment-pop-out{
	position: absolute;
	left: 465px;
	top: 750px;
	background-color: #fff;
	border: 1px solid #E6ECF0;
	border-radius: 10px;
	min-height: 100px;
	width: 587px;
	display: none;
}
.comment-pop-out-user{
	display: block;
	margin-top: 5px;
}
.out-user-name{
	padding-top: 3px;
	margin-left: 10px;
	font-weight: 700;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	
}
.out-user-img{
	margin-left: 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
}
.out-short-text{
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 5px;
	
}
.comment-pop-out-text{
	background-color: #C1D6EB;
}
.comment-pop-out-text-in{
	width: 450px;
	min-height: 70px;
	margin-left: auto;
	margin-right: auto;
	
}
.pop-out-comment-input{
	width: 100%;
	margin-top: 10px;	
	min-height: 70px;
	background-color: #fff;
	border: 1.5px solid #556080;
	border-radius: 10px;
}
.pop-out-button{
	width: 32px;
	margin-left: 460px;
	padding-bottom: 10px;
	display: inline-block;
}
.pop-out-publish{
	width: 32px;
	height: 30px;
	background-color: #C1D6EB;
	background-image: url(../images/send.png);
	background-size: cover;
	color: #fff;
	border: none;
}
.pop-out-attach-img{
	background-color: #C1D6EB;
	background-image: url(../images/image.png);
	background-size: cover;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 30px;
}
/*-----------------------------------------*/
.footer{
	height: 60px;
	background-color: #fff;
	width: 100%;
}
/*------------------------------------*/
.news-post-pop-out{
	min-height: 450px;
	width: 45%;
	background-color: #fff;
	position: absolute;
	left: 450px;
	top: 440px;
	display: none;
	border: 1.5px solid #556080;
	border-radius: 10px;
}
.news-post-pop-out-img{
	margin-top: 20px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.news-post-pop-out-date{
	margin-top: 10px;
	margin-left: 10px;
}
.news-post-pop-out-text{
	padding-right: 15px;
	padding-left: 15px;
	text-align: justify;
	line-height: 1.5;
	margin-bottom: 10px;	
}
.news-post-pop-out-origin-img{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: none;
	position: absolute;
	top: 435px;
	left: 0px;
}
.pop-out-like-div{
	margin-left: 474px;
}
.error{
	position: absolute;
	width: 150px;
	height: 100px;
	top: 20px;
	left: 20px;
	border: 1px solid #f00;
	border-radius: 10px;
	display: none;
}
.error-div{	
	width: 100%;	
}
.error-text{
	color: #f00;
	font-weight: 600;
	line-height: 1.5;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
@media(max-width: 1920px){
	.header-settings{
		left: 1820px;
	}
	.header-settings-div{
		left: 1740px;
	}
	.new-post-publish{
		margin-left: 710px;
	}
	.like-div{
		margin-left: 540px;
	}
	.comment-like {
    	margin-left: 603px;
	}
	.pop-out-like-div {
    margin-left: 636px;
	}

}
@media(max-width: 900px){
	.header-settings{
		left: 1236px;
	}
}
@media(max-width: 1600px){
	.header-settings{
		left: 1460px;
	}
	.header-settings-div{
		left: 1380px;
	}
	.new-post-publish{
		margin-left: 513px;
	}
	.like-div{
		margin-left: 394px;
	}
	.comment-like {
    	margin-left: 454px;
	}
	.pop-out-like-div {
    margin-left: 474px;
	}
}
@media(max-width: 1360px){
	.header-settings{
		left: 1302px;
	}
	.header-settings-div{
		left: 1222px;
	}
	.new-post-publish{
		margin-left: 497px;
	}
	.like-div{
		margin-left: 394px;
	}
	.comment-like {
    	margin-left: 394px;
	}
	.pop-out-like-div {
    margin-left: 474px;
	}
}